.skills__list {
  max-width: 350px;
  width: 45%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills__list-item {
  margin: 0.5em;
}

.sections {
  flex-direction: column;
  margin-top: 1.2em;
}